/* global rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* navbar */
nav {
  padding: 22px 30px;
  background: #ffffff;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}
/* hero section */
.hero {
  padding: 26px 36px;
}
.hero-img {
  text-align: center;
  margin-bottom: 32px;
}
.hero-img img {
  max-width: 396px;
}
@media (min-width: 810px) {
  .hero-img img {
    max-width: 700px;
  }
}
.hero h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 110%;
  color: #000000;
  margin-bottom: 16px;
}
.hero p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 110%;
  color: #222222;
}

/* cards section */
.bold {
  font-weight: bold;
}

.gray {
  color: #918e9b;
}

section {
  padding: 20px;
}

.cards {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}

.card {
  font-family: "Poppins", sans-serif;
  width: 175px;
  font-size: 12px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}
.card--image {
  border-radius: 9px;
  width: 175px;
  height: 235px;
}

.card--stats {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.card p {
  margin-bottom: 10px;
  font-size: 10px;
}
.card--star {
  height: 14px;
}
.card--price {
  margin-top: auto;
}

.card--badge {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}
